{% extends 'base.html.twig' %}

{% block title %}Liste livres{% endblock %}

{% block main %}

    <h1>Liste des livres</h1>

    <button type="button" class="btn btn-secondary">
        <a href="{{ path("app_livre_ajouter") }}" style="text-decoration: none">
            Ajouter un livre en stock
        </a>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Date de Publication</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.titre }}</td>
                    <td>
                        {% for auteur in livre.auteur %}
                            {{ auteur.nom }}<br>
                        {% endfor %}
                    </td>
                    <td> {{ livre.datePublication|date("d-m-Y") }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
